---
layout: default
---
<article class="post h-entry" itemscope itemtype="http://schema.org/BlogPosting">

  <div class="wrapper">
    <header class="post-header">
      <div class="post-meta-bar">
        {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
        <time class="dt-published post-date" datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
          {{ page.date | date: date_format }}
        </time>
        {%- if page.categories.size > 0 -%}
        <span class="meta-dot"></span>
        {%- for cat in page.categories -%}
        <span class="post-category">{{ cat }}</span>
        {%- endfor -%}
        {%- endif -%}
        {%- if page.author -%}
        <span class="meta-dot"></span>
        <span itemprop="author" itemscope itemtype="http://schema.org/Person">
          <span class="p-author h-card" itemprop="name">{{ page.author }}</span>
        </span>
        {%- endif -%}
      </div>
      <h1 class="post-title p-name" itemprop="name headline">{{ page.title | escape }}</h1>
    </header>

    <div class="post-content e-content" itemprop="articleBody">
      {{ content }}
    </div>

    <script type="text/javascript">
      document.addEventListener('DOMContentLoaded', function(){
        function stripcdata(x) {
          if (x.startsWith('% <![CDATA[') && x.endsWith('%]]>'))
            return x.substring(11,x.length-4);
          return x;
        }
        document.querySelectorAll("script[type='math/tex']").forEach(function(el){
          el.outerHTML = "\\(" + stripcdata(el.textContent) + "\\)";
        });
        document.querySelectorAll("script[type='math/tex; mode=display']").forEach(function(el){
          el.outerHTML = "\\[" + stripcdata(el.textContent) + "\\]";
        });
        var script = document.createElement('script');
        script.src = "https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-chtml.js";
        document.head.appendChild(script);
      }, false);
    </script>
  </div>

  {%- if site.disqus.shortname -%}
    {%- include disqus_comments.html -%}
  {%- endif -%}

  <a class="u-url" href="{{ page.url | relative_url }}" hidden></a>
</article>
